<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>onboarding</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-slides pager>
    <ion-slide style="background: url('/assets/img/Rebag-Happy.jpg') no-repeat center center / cover !important;">
      <div class="slide-con">
      </div>
      <div class="slider-text">
        <h3 class="light">Rebag</h3>
        <p class="light"> Einkaufstasche vergessen?
          Schnapp dir `ne ReBag!</p>
      </div>
      <div class="align-bottom">
        <p class="label light" [routerLink]="['']">Intro überspringen</p>
      </div>
    </ion-slide>
    <ion-slide style="background: url('/assets/img/onboarding/Rebag-Planet.jpg') no-repeat center center / cover !important;">
      <div class="slide-con">
      </div>
      <div class="slider-text">
        <h3 class="light">Dein Beitrag</h3>
        <p class="light"> Hole das Maximum aus den Mehrwegtaschen heraus und mache unseren Planeten etwas grüner!</p>
      </div>
      <div class="align-bottom">
        <p class="label light" [routerLink]="['']">Intro überspringen</p>
      </div>
    </ion-slide>
    <ion-slide style="background: url('/assets/img/onboarding/Rebag-Concept.jpg') no-repeat center center / cover !important;">
      <div class="slide-con">
      </div>
      <div class="slider-text">
        <h3 class="light">Ausleihen</h3>
        <p class="light"> Leihe Taschen aus oder stelle deine zur Verfügung. Du kannst auch deine eigenen ReBag
          Standorte aufbauen, um deinen Mitmenschen etwas Gutes zu tun.</p>
      </div>
      <div class="align-bottom">
        <p class="label light" [routerLink]="['']">Intro überspringen</p>
      </div>
    </ion-slide>
    <ion-slide style="background: url('/assets/img/onboarding/Rebag-Concept-2-2.jpg') no-repeat center center / cover !important;">
      <div class="slide-con">
      </div>
      <div class="slider-text">
        <h3 class="light">Instandhaltung</h3>
        <p class="light"> Scanne die QR-Codes, um den Status des Standortes aktuell zu halten.</p>
      </div>
      <div class="align-bottom">
        <p class="label light" [routerLink]="['']">Intro überspringen</p>
      </div>
    </ion-slide>
    <ion-slide style="background: url('/assets/img/onboarding/Rebag-Washing.jpg') no-repeat center center / cover !important;">
      <div class="slide-con">
      </div>
      <div class="slider-text">
        <h3 class="light">Hygiene</h3>
        <p class="light">Wasche dreckige Taschen und sorge dafür, das an den Standorten alles rund läuft. HYGIENE wird
          bei uns groß geschrieben.</p><br></div>
      <div class="align-bottom buttons">
        <ion-button expand="block" class="ion-margin" [routerLink]="['/register']">Jetzt loslegen</ion-button>
          <ion-button expand="block" class="ion-margin" fill="outline" [routerLink]="['']">Zurück zur Startseite</ion-button>
      </div>

    </ion-slide>
  </ion-slides>
</ion-content>