<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>onboarding</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
   <!-- <ion-button [routerLink]="['/register1']" >registrieren</ion-button> -->
  <ion-slides>
    <ion-slide>
       <div class="slide">
         <img src="../assets/img/annie-spratt-blKQHxuHBgo-unsplash.jpg">
         <h2>Slide 1</h2>
         <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
       </div>
           </ion-slide>
     <ion-slide>
       <img src="../assets/img/camilo-contreras-G4cZjDTGgVk-unsplash.jpg">
       <h1>Slide 2</h1>
     </ion-slide>
     <ion-slide>
       <img src="../assets/img/eduardo-santos-QxwPcAv3tcA-unsplash.jpg">
       <h2>Slide 3</h2>
     </ion-slide>
   </ion-slides>


</ion-content>
