<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!--Pin Name laden-->
    <ion-title>{{loadedPin.name}}</ion-title>
    <!--Notification Icon-->
    <ion-icon (click)="pushNotModal()" slot="end" name="notifications-outline"></ion-icon>
  </ion-toolbar>
</ion-header>



<ion-content>

  <!--Image laden-->
  <div class="img-container">
    <img class="ion-no-padding ion-no-margin"  src="../assets/img/pin-img/{{loadedPin.pinId}}.jpg"
    >
  </div>

  <!--Pin Name-->
  <ion-text>
    <h1>{{loadedPin.name}}</h1>
     </ion-text>

  <!--Pin Standort-->
  <ion-text>
    <p>{{loadedPin.coordinates}}</p>
  </ion-text>

  <!--Headline-->
  <ion-text>
    <h4>Status</h4>
  </ion-text>

  <!--Status Verfügbarkeit-->
  <ion-item class="" (click)="resetAvailabilityModal(); setOverviewPinId()">

    <!--Pin Status Image-->
    <img class="img-list" src="../assets/img/pinstatus/{{imgSrcBagsAvailable}}">

    <!--Pfeil nach rechts-->
    <ion-icon *ngIf="!loadedPin.bagsAvailable" slot="end" name="chevron-forward-outline"></ion-icon>

    <!--Pin Status laden-->
    <ion-text>
      {{txtBagsAvailable}}
    </ion-text>

  </ion-item>


  <!--Status Sauberkeit-->
  <ion-item (click)="resetCleanModal(); setOverviewPinId()">

    <!--Pin Status Image-->
    <img class="img-list" src="../assets/img/pinstatus/{{imgSrcBagsClean}}">

    <!--Pfeil nach rechts-->
    <ion-icon *ngIf="!loadedPin.bagsClean" slot="end" name="chevron-forward-outline"></ion-icon>

    <!--Pin Status laden-->
    <ion-text>
      {{txtBagsClean}}
    </ion-text>

  </ion-item>


  <!--Probleme Abschnitt-->
  <ion-text>
    <h4>Probleme</h4>
    <ion-item>Problem melden</ion-item>
   </ion-text> -->

    <ion-text>
    <h4>Weiteres</h4>
    <ion-item>Bild hinzufügen</ion-item>
   </ion-text>

</ion-content>