<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="top-bar">
      <ion-title size="large">Hey Miriam!</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="addSight()">
          <ion-icon class="top-icon" slot="icon-only" name="cog" >
  
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-header>

 <!-- <ion-button routerLink="/start-page" > Test Start Page</ion-button>
  <ion-button routerLink="/register" >registrieren</ion-button>-->


  <div #map id="map"></div>

</ion-content>
