<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Über die App</ion-title>
  </ion-toolbar>
</ion-header>


<!--Headlines und Text-->
<ion-content>
  <h4>Was ist ReBag?</h4>
  <p> Hast du auch schon mal eine Tasche beim Einkaufen vergessen? <br><br>Nicht nur dir geht das so! Das führt dazu,
    dass verdammt viele Einwegtüten verwendet werden, obwohl eigentlich jeder überflüssige Taschen zuhause herumfliegen
    hat.
    Wir wollen ein System aufbauen, in dem Taschen an Sammelpunkten zusammengetragen werden, sodass man sich genau dann
    eine nehmen kann, wenn man sie wirklich braucht.
    Nutze die Taschen wann immer du willst, wann immer du sie brauchst!</p>

  <br><br>

  <h4>Wie funktioniert es?</h4>
  <p>Schnapp dir deine überflüssigen Taschen, schau noch einmal kurz, ob sie sauber und funktionstüchtig sind und häng
    sie an die nächste Sammelstation.
    Wenn du beim nächsten Einkauf eine Tasche brauchst, kannst du dir einfach eine wegnehmen.</p>

  <br>

  <h4>Instandhalten</h4>
  <p>Die eigene Tasche mehrmals ohne Waschen benutzen ist kein Problem, ich weiß ja was ich damit gemacht habe. Fremde
    Taschen, weiß nicht...
    Bitte achte also darauf, nur saubere Taschen an den Baum zu hängen.<br><br>
    Manchmal kann es aber dennoch vorkommen, dass jemand ein anderes Empfinden für Hygiene hat und einen benutzten
    Beutel an die Station hängt.</p>
</ion-content>