<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="headline">
    <h2>Account anlegen</h2>
    <p>Bitte nenne uns deinen Vornamen und deine E-Mail. Lege bitte anschließend dein Passwort fest und bestätige es.</p>
  </div>
  <form [formGroup]="validationFormUser" (ngSubmit)="registerUser(validationFormUser.value)">
  <div class="inputs">
    <ion-item>
      <ion-input type="text" name="name" formControlName="name" placeholder="Vorname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" name="email" formControlName="email" placeholder="E-Mail" required></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message" *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-input type="password" name="password" formControlName="password" placeholder="Passwort" required></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validationMessages.password">
        <div class="error-message" *ngIf="validationFormUser.get('password').hasError(validation.type) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-input type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="Passwort bestätigen" required></ion-input>
    </ion-item>
    <div class="error-message">
      <ng-container *ngFor="let validation of validationMessages.confirmPassword">
        <div class="error-message" *ngIf="validationFormUser.get('confirmPassword').hasError(validation.type) && (validationFormUser.get('confirmPassword').dirty || validationFormUser.get('confirmPassword').touched)">
          {{validation.message}}
        </div>
      </ng-container>
      <div class="error-message" *ngIf="!validationFormUser.get('confirmPassword').errors && validationFormUser.hasError('passwordNotMatch') && (validationFormUser.get('confirmPassword').dirty || validationFormUser.get('confirmPassword').touched)">
        Passwörter stimmen nicht überein.
      </div>
    </div>
  </div>
  <div class="next-btn">
    <ion-button type="submit" [disabled]="!validationFormUser.valid">
      Weiter
    </ion-button>
  </div>
</form>
</ion-content>