<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Standortzugriff</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h4>Warum dein Standort erforderlich ist</h4>
<p>Um die App im Sinne der Entwickler zu nutzen, muss auf deinen Standort zugegriffen werden können. Ohne diesen Zugriff sind manche Funktionen, die ausschlag- gebend für die App sind, nicht möglich.<br>
<br>Du selbst kannst allerdings festlegen, wann die App auf deinen Standort zugreifen darf.</p><br><br>
<ion-item>
  <h4 class="no-margin" >Standortzugriff immer erlauben</h4>
  <ion-toggle slot="end" [(ngModel)]="toggleLocation"></ion-toggle>
</ion-item>

<ion-item>
  <h4 class="no-margin">Nur bei der Nutzung erlauben</h4>
  <ion-toggle slot="end" [(ngModel)]="toggleLocation2"></ion-toggle>
</ion-item>
</ion-content>
