<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="headline">
    <h2>Verifizierung</h2>
    <p>Fast geschafft! Wir haben dir einen Link zur Bestätigung deiner E-Mail gesendet. Bitte überprüfe dein E-Mail-Postfach inkl. Spam-Ordner.</p>
    <p>Sollest du keine Mail erhalten haben, dann klicke bitte auf den folgenden Button:</p>
  </div>

  <div class="resend-btn">
    <ion-button (click)="resendVerificationMail()" [disabled]="!timer">
      Nochmal senden
    </ion-button>
  </div>
  <div *ngIf="!timer" class="notification">
    <h3>Bestätigungslink versendet.</h3>
    <p>Warte bitte {{ timeLeft }} Sekunden, um erneut eine Bestätigungsmail rausschicken zu können.</p>
  </div>

  <div class="next-btn">
    <ion-button routerLink="/login">
      Weiter
    </ion-button>
  </div>
</ion-content>