.camera-button{
    width: 50px;
    height: 50px;
    --border-radius: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

.buttons ion-button {
    bottom: 50px;
    --ion-color-primary: #57B660;
    padding: 0 10px 0 10px;
    color: #f2f2f2;
    --color-hover: #f2f2f2;
    --background-hover: #3C9644;
    height: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}