<ion-header class="header-bg">
  <ion-toolbar >
    <ion-title>Hey Miriam!</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon class="top-icon" slot="icon-only" name="cog" >

        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>
        Name
      </ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Latitude
      </ion-label>
      <ion-input [(ngModel)]="latitude"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Longitude
      </ion-label>
      <ion-input [(ngModel)]="longitude"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Bags Available
      </ion-label>
      <ion-input [(ngModel)]="bagsAvailable"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Bags Clean
      </ion-label>
      <ion-input [(ngModel)]="bagsClean"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Availablility Report
      </ion-label>
      <ion-input [(ngModel)]="availabilityReport"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Cleaning Report
      </ion-label>
      <ion-input [(ngModel)]="cleaningReport"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button (click)="takePhoto()">Foto aufnehmen</ion-button>
    </ion-item>

    <ion-item>
      <ion-button (click)="save()">Speichern</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
