<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Benachrichtigungen</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!--Suchfeld-->
  <h4>Standort suchen</h4>
  <div class="input-notification">
    <ion-input placeholder="Name des Standorts"></ion-input>
  </div>

  <br><br>

  <!--Vorgeschlagene Standorte-->
  <ion-item class="ion-no-padding" [routerLink]="[]">
    <ion-avatar class="ion-margin">
    <img src="../assets/img/ideas/Rebag-Concept.jpg">
  </ion-avatar>
      <p>Name des Standortes</p>
  </ion-item>

  <ion-item class="ion-no-padding" [routerLink]="[]">
    <ion-avatar class="ion-margin">
      <img src="../assets/img/ideas/Rebag-Concept.jpg">
    </ion-avatar>
      <p>Name des Standortes</p>
  </ion-item>

  <ion-item class="ion-no-padding" [routerLink]="[]">
    <ion-avatar class="ion-margin">
      <img src="../assets/img/ideas/Rebag-Concept.jpg">
    </ion-avatar>
      <p>Name des Standortes</p>
  </ion-item>

</ion-content>