<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Beschreibung-->
  <div class="headline">
    <h2>Passwort vergessen?</h2>
    <p>Kein Problem! Gebe einfach deine E-Mail ein und wir senden dir einen Link zu, mit dem du ganz einfach ein neues
      Passwort festlegen kannst.</p>
  </div>

  <!--Email Input-->
  <div class="inputs">
    <ion-item>
      <ion-input type="email" name="email" [(ngModel)]="email" placeholder="E-Mail" required></ion-input>
    </ion-item>
  </div>

  <!--Button-->
  <div class="next-btn">
    <ion-button (click)="resetPassword()">
      Passwort Zurücksetzen
    </ion-button>
  </div>

</ion-content>