<!--<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-content>
    <div class="start-text">
      <h1>Willkommen bei ReBag!</h1>
      <p>Mit ReBag vergisst du nie wieder eine Mehrwegtasche zum Einkaufen. Egal ob mit oder ohne App.</p>
    </div>

    <div class="buttons">
    <ion-button expand="block" class="login-btn" routerLink="/login">
      Login
    </ion-button>

    <ion-button fill="outline" expand="block" class="signup-btn" routerLink="/register">
      Sign Up
    </ion-button>
    </div>
</ion-content>