<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!--Headline-->
  <ion-text>
    <h4>Name</h4>
  </ion-text>

  <!--Text-->
  <ion-text>
    <p>{{profileName}}</p>
  </ion-text>

  <br>

  <!--Headline-->
  <ion-text>
    <h4>E-Mail</h4>
  </ion-text>

  <!--Text-->
  <ion-text>
    <p>{{profileEmail}}</p>
  </ion-text>

  <br>

  <!--Headline-->
  <ion-text>
    <h4>Einstellungen</h4>
  </ion-text>

  <!--Verweise auf die Subpages-->
  <ion-item class="ion-no-padding" [routerLink]="[]">
    <ion-text>
      <p>Profildaten ändern</p>
    </ion-text>
  </ion-item>

  <ion-item class="ion-no-padding" [routerLink]="['change-location']">
    <ion-text>
      <p>Standortzugriff</p>
    </ion-text>
  </ion-item>

  <ion-item class="ion-no-padding" [routerLink]="['push-notifications']">
    <ion-text>
      <p>Pushbenachrichtigungen</p>
    </ion-text>
  </ion-item>

  <br>

  <!--Headline-->
  <ion-text>
    <h4>Weitere Einstellungen</h4>
  </ion-text>


  <!--Weitere Verweise auf die Subpages-->
  <ion-item class="ion-no-padding" [routerLink]="['privacy']">
    <ion-text>
      <p>Über die App</p>
    </ion-text>
  </ion-item>

  <ion-item class="ion-no-padding" [routerLink]="[]">
    <ion-text>
      <p>Mehr Informationen im Web</p>
    </ion-text>
  </ion-item>

  <ion-item class="ion-no-padding" [routerLink]="[]" (click)="logoutAlert()">
    <ion-text>
      <p style="color: red">Ausloggen</p>
    </ion-text>
  </ion-item>

</ion-content>