<ion-header [translucent]="true">
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="top-bar">
      <ion-title size="large">Hey Miriam!</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="addSight()">
          <ion-icon class="top-icon" slot="icon-only" name="cog" >
  
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-header>

  <ion-item-sliding *ngFor="let marker of markers">
      <ion-item [routerLink]="['/pin', marker.pinId]">
        {{marker.name}}
      </ion-item>
    </ion-item-sliding>

  
</ion-content>

