<ion-header>
  <ion-toolbar>
    <ion-title>Hey Miriam!</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="cog" >
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true">

  <ion-item-sliding *ngFor="let marker of markers">
      <ion-item [routerLink]="['/pin', marker.pinId]">
       
        <img class="img-list-view"
      src="../assets/img/camilo-contreras-G4cZjDTGgVk-unsplash.jpg">
       
        <ion-text>
          <h4 class="no-margin">{{marker.name}}</h4>
        </ion-text>
      </ion-item>
    </ion-item-sliding>

  
</ion-content>

