.top-bar {
    background-color: #57B660;
    --ion-background-color: #57B660;
    padding-bottom: 10px;
    padding-top: 15px !important;
    color: #f2f2f2;
}

.top-icon{
    color: #f2f2f2;
}

.sc-ion-toolbar-ios{
   border: none;
}